.calc {
    width: 50%;
    margin-left: 25%;
    padding: 3%;
    margin-bottom: 3%;
}

.dates {
    margin-top: 10px;
}

.alert {
    display: none;
}

.masterForm {
    margin-left: 25%;
    width: 50%;
}

.calc2 {
    padding: 5%;
}

.totalBill {
    margin-top: 20px;
}

.dataEntry {
    width: 35%;
}

.output {
    margin-top:15px;
}